
* {
	margin: 0;
	padding: 0;
}

body {
	
}

#header {
	background: #222222;
	color: #ffffff;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	box-shadow: 0 3px 5px #c0c1c4, 0 4px 11px 0 #c0c1c4
}

#header h1 {
	text-align: center;
	padding: 0px 0px 0px 0px;
	font-size: 40px;
}

#header h2 {
	text-align: center;
	font-size: 30px;
}

#header ul {
	list-style: none;
	float: center;
}

#header ul li {
	padding: 15px;
	display: inline-block;
}

#header a{
	color: #ffffff;
	text-decoration: none;
	transition: all 0.2s;
}

#header a:hover {
	color: #6294e5;
}

#text {
	width: 95%;
	margin: auto;
}

#text h1 {
	font-family:'Ubuntu', sans-serif;
	text-align: left;
	padding: 20px 0px 0px 0px;
}

#text h2 {
	font-family:'Ubuntu', sans-serif, bold;
	text-align: left;
	font-size: 20px;
	padding: 0px 0px 10px 0px;
}

#text pre {
	font-family:'Source Sans Pro', sans-serif;
	padding: 15px;
	font-size: 25px;
	overflow: auto;
	white-space: pre-wrap;
}

#gallery img {
	align-items: center;
	height: 300px;
}

.button-display-left {
	background-color: #c8cace;
    border: none;
    padding: 20px 25px;
    margin: 10px 15px 5px 0px;
    display: inline-block;
}

.button-display-left:hover {
	background-color: #6294e5;
	transition: all 0.2s;
}

.button-display-right {
	background-color: #c8cace;
    border: none;
    padding: 20px 25px;
    margin: 10px 15px 5px 30px;
    display: inline-block;
}

.button-display-right:hover {
	background-color: #6294e5;
	transition: all 0.2s;
}

#gallery pre {
	font-family:'Quicksand', sans-serif;
	padding: 15px;
	overflow: auto;
	white-space: pre-wrap;
}

.linkclass1 {
	text-decoration: none;
	color: black;
}

.linkclass1:hover {
	color: #a87df2;
	font-family: 'Cedarville Cursive', cursive;
	transition: all 0.2s;
	font-size: 50px;
}

.linkclass2 {
	text-decoration: none;
	color: black;
}


.linkclass2:hover {
	color: #4ea07d;
	font-family: 'Indie Flower', cursive;
	transition: all 0.2s;
	font-size: 50px;
}

.linkclass3 {
	text-decoration: none;
	color: black;
}


.linkclass3:hover {
	color: #3762fc;
	font-family: 'Major Mono Display', monospace;
	transition: all 0.2s;
	font-size: 50px;
}

.linkclass4 {
	text-decoration: none;
	color: black;
}


.linkclass4:hover {
	color: #f4a742;
	font-family: 'ZCOOL KuaiLe', cursive;
	transition: all 0.2s;
	font-size: 50px;
}

.linkclass5 {
	text-decoration: none;
	color: black;
}


.linkclass5:hover {
	color: #bc170b;
	font-family: Helvetica, cursive;
	transition: all 0.2s;
	font-size: 50px;
}



