<style style="text/css">
.scroll-up {
 height: 50px;	
 overflow: hidden;
 position: relative;
 background: yellow;
 color: orange;
 border: 1px solid orange;
}
.scroll-up p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateY(100%);
 -webkit-transform:translateY(100%);	
 transform:translateY(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-up 5s linear infinite;
 -webkit-animation: scroll-up 5s linear infinite;
 animation: scroll-up 5s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-up {
 0%   { -moz-transform: translateY(100%); }
 100% { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes scroll-up {
 0%   { -webkit-transform: translateY(100%); }
 100% { -webkit-transform: translateY(-100%); }
}
@keyframes scroll-up {
 0%   { 
 -moz-transform: translateY(100%); /* Browser bug fix */
 -webkit-transform: translateY(100%); /* Browser bug fix */
 transform: translateY(100%); 		
 }
 100% { 
 -moz-transform: translateY(-100%); /* Browser bug fix */
 -webkit-transform: translateY(-100%); /* Browser bug fix */
 transform: translateY(-100%); 
 }
}
</style>

<div class="scroll-up">
<p>"Niche" by Raisa Khan

youre just a burden
to everyone
youre better off dead
but taking your own life is
an arrogance you cannot dare
to have
a burden
to everyone
your own life is

you cannot dare
to have

everyone
better off—


"The thing is, I’m not very smart. I may have
been taught some smart things, but I can’t really 
do much with them. Someone smarter probably 
could do a lot more with less. I mean, I also
do really stupid stuff all the time. I would say I’m 
average. On the normal distribution curve I would be
somewhere near that whole heap in the middle of
most people. Probably in the lower standard
deviation of average range too. I’m nothing 
special. I haven’t effected great change on 
any scale really, and my few and far in between
accomplishments don’t amount to more than 
the number of honey BBQ chips I can
fit in my mouth in one go or the number
of kittens there is space for on my lap. I’m sure
Guinness World Records could show that even in
those things I’m not particularly exceptional. But
that’s okay. I think that we wouldn’t have a top
10% or top .2% or whatever percentage without
the corresponding bottom percent. The exceptional
have no one to help with their talents without the
average. And the below-average don’t have anyone
to be helped by without the average and the above-
average. It is because I am average that I can see
how special the above-average are. And I’ve been
fortunate enough to meet a lot of amazing people.
I think what I used to struggle with was wanting
very intensely to be more than the mean. That
was probably where the envy came from. But
once I accepted that I’m really not all that,
I found so much more peace as envy was
replaced by appreciation and awe. It’s
like I’m in my own little cubbyhole, made
just for me in the greater scheme of things.
And I get to watch all of the really special
people go by and attain greater things. I get
to help them see the potential they don’t
see in themselves, the potential they’ve
become too familiar with to notice because
it is their own. Little ol’ me (well, by the size
of my hips not so little haha) may not be
able to do much on her own, but she’s
content to help others do what she can’t.
Think of me like a library; chances are you
don’t have to go very far to find one of
me in a place, and the information
I have is no good without someone
to read it and put it to use. Feel free to flip
through a magazine casually or look for
something you might need. If you’re
doubting yourself, I’ve got just the book. It
took me a while, but I think I’ve found my
niche.”
</p>
</div>
